:root {
    --pearlWhite: #FDFCFF;
    --goldenGold: #FFD677;
    --darkBlue: #A36363;
    --menuItemsBase: #90B0CE;
    --menuItemSelected: #728BA3;
    --subHeader: #a29696de;
    --errorRed: #FF3C38;
}

html, body, #app {
    height: 100%;
    background-color: var(--pearlWhite);
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    font-weight: 900;
}

.fullHeight {
    height: 100%;
}

.majorityHeight {
    height: 85%;
}

.centerAll {
    display: flex;
    justify-content: center;

}

.centerAllColumn {
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.centerAllColumn {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;

}

.centerComplete {
    display: flex;
    justify-content: center;
    align-items: center;

}

.centerCompleteColumn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.baseColor {
    color: var(--menuItemsBase) !important;
}

.baseColorBackground {
    background-color: var(--menuItemsBase) !important;
    color: var(--pearlWhite) !important;
}

.baseColorDarker {
    background-color: var(--menuItemSelected) !important;
    color: var(--pearlWhite) !important;
}

.subHeaderColor {
    color: var(--subHeader);
}

.lighter {
    font-weight: 100 !important;
}

.ui.medium.header {
    font-size: 5.285714em;
}

.ui.secondary.menu {
    font-family: 'Nunito', sans-serif;

}

.ui.secondary.menu .active.item.logoOuterStyles, .twelve.wide.column .ui.secondary.menu .item.logoOuterStyles:hover {
    font-size: 2rem !important;
    color: var(--menuItemSelected) !important;
    font-weight: 600 !important;
}

.logoStyles {
    font-weight: 900 !important;

}

.ui.secondary.menu .active.item, .ui.secondary.menu .active.item:hover {
    background-color: transparent;

}

.twelve.wide.column .ui.secondary.menu .item {
    color: var(--menuItemsBase);
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
}

.twelve.wide.column .ui.secondary.menu .item:hover {
    color: var(--menuItemSelected);
    background-color: transparent;
    font-weight: 900 !important;
}

.ui.secondary.menu .active.item:hover {
    font-weight: 900 !important;
    color: var(--menuItemSelected);

}

.ui.secondary.menu .item.activeItem {
    font-weight: 900 !important;
    color: var(--menuItemSelected) !important;
}

.background-layout {
    position: relative;
    height: 100%;
}

.baseLayer {
    position: relative;
}

.upperLayer {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.game-content {
    background-color: var(--pearlWhite);
}

.score-content {
    background-color: var(--menuItemsBase);
}

.four.wide.column.score-content.centerAll {
    padding-top: 2em;
    display: flex;
    justify-content: center;

}

.ui.large.header {
    font-size: 8.714286em;
}

.four.wide.column.score-content.centerAll .trophy.massive.icon {
    color: var(--goldenGold);
}

form .field input.borderless {
    border: none !important;
    border-radius: 0 !important;
    border-bottom: 2px solid var(--menuItemsBase) !important;
}

.segment.raised {
    background-color: var(--menuItemsBase);
}

.ui.large.header, .ui.checkbox label {
    color: white;
}

.gridWidth {
    width: 40%;
}

.ui.form input:not([type]), .ui.form input[type="date"], .ui.form input[type="datetime-local"], .ui.form input[type="email"], .ui.form input[type="number"], .ui.form input[type="password"], .ui.form input[type="search"], .ui.form input[type="tel"], .ui.form input[type="time"], .ui.form input[type="text"], .ui.form input[type="file"], .ui.form input[type="url"] {
    background-color: transparent;
    text-align: center;
}

.ui.form input:not([type]):focus, .ui.form input[type="date"]:focus, .ui.form input[type="datetime-local"]:focus, .ui.form input[type="email"]:focus, .ui.form input[type="number"]:focus, .ui.form input[type="password"]:focus, .ui.form input[type="search"]:focus, .ui.form input[type="tel"]:focus, .ui.form input[type="time"]:focus, .ui.form input[type="text"]:focus, .ui.form input[type="file"]:focus, .ui.form input[type="url"]:focus {
    background-color: transparent;
    border-bottom: 3px solid var(--menuItemsBase) !important;
}

.errorColor {
    color: var(--errorRed);
}

.sign-inBtn {
    -webkit-transition: width 1s ease !important; /* For Safari 3.1 to 6.0 */
    transition: width 1s ease !important;
    width: 50%;
    margin-right: 0 !important;
}

.sign-inBtn:hover {
    width: 100%;
}

.ui.buttons .button, .ui.buttons .or, .ui.button {
    margin-top: 8px;
    margin-bottom: 14px;
}

a {
    color: var(--menuItemsBase);
}

a:hover {
    color: var(--menuItemSelected);
}